body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img{
  max-width: 100%;
  margin: auto;
  
  
}
.blogimg{
  
}
@media (min-width: 768px){
  img.blog__image{
    height: 600px;
    width: 100%;
  }
  .block__content p{
    
    font-size: 18px;
  }
}
.block__content p{
  line-height: 1.6;
  
}
.block__content h2{
  font-weight: 700;
  font-size:32px;
  margin:10px 0 20px;
}
